.section3 {
  position: relative;
  height: 490px;
  padding-top: 100px;
  padding-bottom: 85px;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%);

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  &__title {
    max-width: 540px;
    @include h2;
    color: #ffffff;
  }

  &__button {
    @include button-link;
  }
}
