.section6 {
  padding-bottom: 85px;
}

.subscribe {
  padding-top: 85px;
  text-align: center;
  border-top: 1px solid $line-color;

  &__label {
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    @include descr-txt;
  }

  &__input {
    padding: 14px 35px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0px 0px 30px;
  }

  &__button {
    right: 0;
    @include button-link;
    max-width: 190px;
    padding-left: 26px;
    padding-top: 15px;
    padding-bottom: 13px;
    border: none;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
  }

  &__no-spam {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.62;
    color: $txt-color-grey;
  }
}

.input-position {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  color: $txt-color-grey;
}
