.section5 {
  padding-top: 70px;
  padding-bottom: 85px;
  text-align: center;

  &__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 25%;
    z-index: -1;
    background-image: url('../images/index-images/video-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 30px;
    @include h2;
    color: $txt-color-white;
  }

  &__text {
    margin-bottom: 70px;
    @include descr-txt;
    color: $txt-color-white;
  }
}

.video-embed {
  max-width: 970px;
  margin: 0 auto;
  background-image: url('../images/index-images/vid-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 165px 0;

  &__button {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border: 1px solid $txt-color-white;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.56;
    color: $txt-color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0;
    transition: box-shadow 250ms linear;

    &:hover,
    &:focus {
      box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        -2px -2px 15px 5px rgba(0, 0, 0, 0);
    }
  }
}
